<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8db4b49e-483f-467f-9845-eb6874b76a24/resourcegroups/RescuerLLC_API/providers/Microsoft.Web/sites/RescuerLLC-API</ResourceId>
    <ResourceGroup>RescuerLLC_API</ResourceGroup>
    <ApiResourceId>/subscriptions/8db4b49e-483f-467f-9845-eb6874b76a24/resourceGroups/RescuerLLC_API/providers/Microsoft.ApiManagement/service/RescuerLLC-API/apis/RescuerLLC-API</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rescuerllc-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>011ac3de-0633-471a-bbca-bfe56b136532</ProjectGuid>
    <MSDeployServiceURL>rescuerllc-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RescuerLLC-API</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$RescuerLLC-API</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>